<div>
  <h2>Carrito de compras</h2>

  {{#each cartProduct}}
    <h3 class="productTitle">{{this.id.title}}</h3>
    <ul class="infoList">
      <li class="productCode">code: <span>{{this.id.code}}</span></li>
      <li class="orderQty">Quantity: <span>{{this.quantity}}</span></li>
      <li class="productPrice">price: <span>{{this.id.price}}$</span></li>
    </ul>
  {{/each}}

  <a href="http://localhost:8080/api/products/productos?page=1">Volver a la
    lista de productos</a>
</div>