<form action="/api/sessions/login" method="POST">
  <input id="email" name="email" type="email" placeholder="email" />
  <input id="password" name="password" type="text" placeholder="password" />
  <input type="submit" value="login" />
  <button type="button"><a href="/api/sessions/github">Login with Github</a></button>
</form>
<a href="/register">Register</a>